.button {
  display: inline-block;
  margin: 0;
  border-radius: 0;
  border: 1px solid transparent;
  font-family: "Segoe WP";
  font-size: 22px;
  font-weight: 300;
  padding: 5px;
  outline: none;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  max-width: 171px;
  align-items: center;
}
.button:hover {
  text-decoration: none;
  -webkit-text-fill-color: #5094f2;
}
.button:focus {
  outline: none;
}

.button-primary {
  color: #ffffff;
  background-color: #5094f2;
}
.button span {
  margin-right: 10px;
}
.icon-done:hover {
  color: #5094f2;
}
.button-primary:hover {
  color: #5094f2;
  background-color: #ffffff;
  border-color: #5094f2;
}
.button-danger {
  color: #ffffff;
  background-color: red;
}

.button-danger:hover {
  color: red;
  background-color: #ffffff;
  border-color: red;
}

.button-large {
  padding: 22px 64px;
}

.button-medium {
  padding: 12px 24px;
}

.button-full {
  width: 100%;
}
@media (min-width: 460px) {
  .button {
    font-size: 17px;
}
}
@media (min-width: 640px) {
 .button {
   padding: 10px;
 }
}
@media (min-width: 960px) {
 .button {
   margin: 0;
 }
}
