.card {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00000026;
    padding: 0 20px;
}
.card-icon {
    color: black;
    font-size: 30px;
    flex-shrink: 0;
    width: 60px;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-title {
    color: #5094f2;
    font-family: "Segoe WPN";
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-description {
    color: #909090;
    font-family: "Segoe WPN";
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}
.card-body {
    padding-left: 20px;
}
.card-blue {
    background: #5094f2;
    border-radius: 50%;
}
.card-red {
    background: #d94748;
    border-radius: 50%; 
}
.card-yellow {
    background: #ebbb11;
    border-radius: 50%; 
}

@media (min-width: 640px) {
  .card-icon {
      font-size: 60px;
  }
  .card-description {
    margin-bottom: 32px;
    font-size: 19px;
  }
  .card-title {
      font-size: 34px;
  }
  .card-body {
   
  }
  .card-icon {
    width: 137px;
    height: 136px;
  }
  .card {
    padding: 0 50px;
  }
}
@media (min-width: 960px) {
    .card {
        flex-direction: column;
        border: none;
        text-align: center;
    }
    .card-body {
        padding: 0;
    }
    .card-title {
        font-size: 20px;
    }
    .card-description {
        font-size: 14px;
    }
    .card-icon {
        width: 186px;
        height: 186px;
        font-size: 90px;
    }
}