.form-control {
  position: relative;
  margin-bottom: 24px;
}

.input,
.select,
.textarea {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  background-color: #fff;
  color: #666;
  margin: 0;
  border-radius: 0;
  font-size: inherit;
}
.input {
  height: 40px;
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: none;
  background-color: #fff;
  color: #666;
  border-color: blue;
}

.input:disabled,
.select:disabled,
.textarea:disabled {
  background-color: #f8f8f8;
  color: #999;
  border-color: #999;
}

.input::placeholder,
.textarea::placeholder {
  color: #999;
}

.textarea {
  resize: none;
  height: 200px;
}

.input-danger,
.input-danger:focus {
  color: red;
  border-color: red;
}

.input-success,
.input-success:focus {
  color: green;
  border-color: green;
}

.input-blank {
  background-color: none;
  border-color: transparent;
}
.input-blank:focus {
  background-color: #e5e5e5;
  border-style: dashed;
}

.form-error-message {
  color: red;
  position: absolute;
  bottom: -16px;
  display: none;
}

.input:valid:not(:placeholder-shown) {
  border-color: green;
}

.input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.input:invalid:not(:placeholder-shown) + .form-error-message {
  display: block;
}

.form-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.form-icon:hover {
  color: #666;
}

.form-icon:not(a):not(button):not(input) {
  pointer-events: none;
}

.form-icon-flip {
  right: 0;
  left: auto;
}

.form-icon:not(.form-icon-flip) ~ .input {
  padding-left: 40px !important;
}
.form-icon-flip ~ .input {
  padding-right: 40px !important;
}
